body {
  overflow: hidden;
  background-color: lightblue;
}

h2 {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0px;
  padding-left: 5px;
}

#container {
  width: 95%;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* border: 5px darkblue solid; */
}

#clock {
  /* border: 2px white solid; */
  margin: auto;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#timeDisplay {
  border: 2px white solid;
  width: 80%;
  height: 80px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#time {
  width: 50vh;
  text-align: center;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  padding: 50px;
  border: 5px darkblue solid;
  border-radius: 100px;
}

button {
  width: 150px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

#btn {
  /* border: 5px darkblue solid; */
  margin: auto;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media(max-width:360px) {
  #time {
    width: 30vh;
    font-size: 48px;
    padding: 50px;
  }
}
@media(max-width:320px) {
  #time {
    width: 40vh;
    font-size: 45px;
    padding: 30px;

  }
}